div.mast {
	padding: .25rem .75rem 0;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	box-sizing: border-box;

	div.mast-image {
		background-image: url('/assets/landing-bg.jpg');
		background-size: cover;
		background-position: 100% 100%;
		background-repeat: no-repeat;
		height: 40vh;
		min-height: 200px;
	}

	h2 {
		font-size: 1.5rem;
		line-height: 1.1;
	}

	h3 {
		border-bottom: 2px solid $gray-pale;
		padding-bottom: .5rem;
		margin-top: .5rem;
		margin-bottom: .5rem;
		font-size: 1.2rem;
		text-transform: uppercase;
	}

	@media (min-width: 650px) {
		background-image: url('/assets/landing-bg@2x.jpg');
		background-size: cover;
		background-position: 50% 50%;
		display: grid;
		padding: 2rem;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 60% 40%;
		height: 500px;

		div.mast-image {
			background: transparent;
			grid-row: 1 / 3;
			grid-column: 1 / 2;
			height: inherit;
		}

		h2 {
			grid-row: 1 / 2 ;
			grid-column: 1 / 2;
			background: none;
			z-index: 1;
			font-size: 2em;
			text-shadow: 2px 2px 4px $white;
		}

		div.input-group {
			max-height: 120px;
			grid-row: 3 / 4;
			grid-column: 1 / 3;
			z-index: 1;
			align-self: start;
		}

		h3 {
			grid-row: 2 / 3;
			grid-column: 1 / 2;
			align-self: end;
			border: none;
			z-index: 100;
			font-size: 1.5rem;
			color: $white;
			text-shadow: 1px 1px 6px $gray-darkest, 0 0 3px $gray-darkest;
			z-index: 1;
		}
	}

	@media (min-width: 850px) {
		height: 600px;

		h2 {
			font-size: 2.75rem;
		}

		h3 {
			font-size: 2.25rem;
		}
	}
}

