html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#app, .app {
	@include max-width;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}