html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	*, *:before, *:after {
	  box-sizing: inherit;
	}
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#app {
	min-height: 100vh;
}

#app, .app, main {
	@include max-width;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}