div.tips {
	display: none;
	background: $blue-darker;
	padding: 1rem;

	h3 {
		color: $blue-pale;
		font-size: 1.75rem;
		line-height: 1.1;
	}

	p {
		color: $white;
		background: $blue-dark;
		padding: 1rem;
		border-radius: $base-border-radius;
	}
}

@media screen and (min-width: 650px) {
	div.tips {
		display: -ms-grid;
		display: grid;
		-ms-grid-rows: 70px 1fr 1fr .7fr;
		grid-template-rows: 70px 1fr 1fr .7fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

		h3 {
			-ms-grid-row: 1;
			-ms-grid-row-span: 1;
			grid-row: 1 / 2;
			-ms-grid-column: 1;
			-ms-grid-column-span: 6;
			grid-column: 1 / 7;
		}

		p {
			font-size: 1.3rem;
			background: rgba( $blue-dark, .3 );
		}

		p:first-of-type {
			-ms-grid-row: 2;
			-ms-grid-row-span: 1;
			grid-row: 2 / 3;
			-ms-grid-column: 3;
			-ms-grid-column-span: 4;
			grid-column: 3 / 7;		
		}
		p:last-of-type {
			-ms-grid-row: 3;
			-ms-grid-row-span: 1;
			grid-row: 3 / 4;
			-ms-grid-column: 1;
			-ms-grid-column-span: 4;
			grid-column: 1 / 5;		
		}

		div.input-group {
			-ms-grid-column-align: end;
			    justify-self: end;
			-ms-grid-row: 4;
			-ms-grid-row-span: 1;
			grid-row: 4 / 5;
			-ms-grid-column: 1;
			-ms-grid-column-span: 6;
			grid-column: 1 / 7;
		}
	}
}

@media screen and (min-width: 850px) {
	div.tips {
		background-image: url('/assets/couple@2x.jpg');
		box-shadow: inset 0 0 0 1000px rgba($blue-darker, .7);
		background-position: 50% 50%;
		background-size: cover;
	}
}